<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nvduy1997.com.easytoeic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/toeic1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/MyTheme"></activity>
        <activity
            android:name=".activity.Part3SlideActivity"
            android:theme="@style/MyTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VideoPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SplashHomeActivity"
            android:theme="@style/MyTheme" />
        <activity android:name=".activity.Part1SlideActivity" />
        <activity
            android:name=".activity.ScorePart1Activity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.ScorePart5Activity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.Part5SlideActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.ScorePart3Activity"
            android:theme="@style/MyTheme" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1040203079520227"
            android:exported="true" />
    </application>

</manifest>